<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

  <!-- Bootstrap CDN -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <!-- IBM Plex Sans Font -->
  <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Sans:100" rel="stylesheet">

  <!-- FontAwesome Icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

  <!-- Custom CSS -->
  <link rel="stylesheet" href="../static/css/full/all.css">
  <link rel="stylesheet" href="../static/css/mobile/all.css">
  {% block style %}
  {% endblock %}

  <title>Nazy Raouf Photography: {% block title %}{% endblock %}</title>
</head>
<body>

  <div class="all">
    <nav class="side-nav">
      <div id="border"></div>
      <div class="options">
        <a class="site-links" href="{% url 'all_projects' %}"><span class="full"><h3>Nazy Raouf Photography</h3></span><span class="mobile"><h3>NR</h3></span></a>
        <span class="full">
          <span id="hide-show">Project List</span>
          <div class="projects">
            <ul class="project-name">
              {% for project in projects %}
                <a href="{% url 'view_project' project.name %}" class="project-links">{{ project.project }}</a><br>
              {% endfor %}
            </ul>
          </div>
        </span>

        <div class="mobile dropdown">
          <span id="trigger">Project List</span>
          <div class="projects" style='display: none'>
            <ul class="project-name">
              {% for project in projects.query.all() %}
                <a href="{{ url_for('display_project', title=project.project) }}" class="project-links">{{ project.project }}</a><br>
                <hr>
              {% endfor %}
            </ul>
          </div>
        </div>

        <a class="site-links" href="{{ url_for('about') }}">About</a>
        <a class="site-links" href="{{ url_for('contact') }}">Contact</a>
        <div class="icons">
          <a href="https://www.instagram.com/nazyraouf/" target="_blank"><i class="fab fa-instagram"></i></a>
        </div>
        {% if current_user.is_authenticated %}
          <div class="admin-tools full">
            <a class="admin-links" href="{{ url_for('reg') }}"><i class="far fa-user"></i></a>
            <a class="admin-links" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i></a>
            <a class="admin-links" href="{{ url_for('add_project') }}"><i class="fas fa-project-diagram"></i></a>
            <a class="admin-links" href="{{ url_for('add_photo') }}"><i class="fas fa-camera"></i></a>
          </div>
        {% endif %}
        <div class="notes">
          <span class="cp">
          <p class="footer-text"> Nazy Raouf &nbsp;&nbsp;<i class="far fa-copyright"></i>&nbsp;&nbsp; 2019.</p>
        </span>
        </div>
      </div>
    </nav>

    {% if current_user.is_authenticated %}
      <div class="admin-tools mobile">
        <a class="admin-links" href="{{ url_for('reg') }}"><i class="far fa-user"></i></a>
        <a class="admin-links" href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i></a>
        <a class="admin-links" href="{{ url_for('add_project') }}"><i class="fas fa-project-diagram"></i></a>
        <a class="admin-links" href="{{ url_for('add_photo') }}"><i class="fas fa-camera"></i></a>
      </div>
    {% endif %}

    <main class="content-container">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="msg {{ category }}">
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block main %}
      {% endblock %}
    </main>
  </div>

  <script type="text/javascript" src="../static/js/all.js"></script>
  {% block js %}
  {% endblock js%}
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


</body>
</html>
