.contact-main {
    height: 80%;
}

.contact-field {
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact-form-sub {
    padding: 0.2cm 1cm;
}

input[type=text], input[type=password], input[type=submit], input[type=email], textarea {
    border-radius: 5px;
    padding: 5px;
    width: 100%;
  }
