{% extends 'home/layout.html' %}
{% load static %}

{% block title %}
    About
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'home/desktop/about.css' %}">
    <link rel="stylesheet" href="{% static 'home/mobile/about.css' %}">
{% endblock %}


{% block main %}
    <div class="about-profile">
        <h3 class="about-header">{{ settings.page_title }}</h3>
        {{ settings.profile|linebreaksbr }}
    </div>
    <div class="about-contact">
        <ul class="about-list">
            <li><h3 class="about-header">Get in touch</h3></li>
            <li>{{ settings.phone_number }}</li>
            <li>{{ settings.email_address}}</li>
            <li><a target="__blank" href="{% url 'contact' %}">Enquiry Form</a></li>
        </ul>
    </div>
{% endblock %}
