{% extends 'home/layout.html' %}

{% load static %}

{% block title %}
    Projects
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="{% static 'projects/desktop/all_projects.css' %}">
    <link rel="stylesheet" href="{% static 'projects/mobile/all_projects.css' %}">
{% endblock %}


{% block main %}
    <div class="gallery">
        {% for project in projects %}
            <figure class="project">
                <a href="{% url 'view_project' slug=project.slug %}">
                    <img class="project-img" src="{{ project.photos.first.image.url }}">
                </a>
            </figure>
        {% endfor %}
    </div>
{% endblock %}
